<form method="post" style="display: inline-block" action="{{ path('departement_delete', {'id': departement.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ departement.id) }}">
    <button style="background-color: transparent"><a class="bi bi-trash white"></a></button>
</form>
