{% extends "base-front.html.twig" %}
{% block title %}Register{% endblock %}
 {% block content %} 
    <div class="header-space"></div>          
	<div class="page-top-block" style="margin-bottom: 0px;">
        <div class="container">
        </div>
    </div>
    <main class="main-container" style="background-image: url({{ asset('front-office/img/img84.jpg') }}); background-size: cover;">
      <div class="container">
        <div id="post-11" class="post-11 page type-page status-publish hentry">
          <div class="content-area clearfix">
            <div class="woocommerce" style="width: 60%; margin: auto;">
              <div class="woocommerce-notices-wrapper">
                <form class="woocommerce-form woocommerce-form-login login" name="user" method="post" style="background-color: rgba(0, 0, 0, 0.3); border-color: grey;">
                  <div class="content-area clearfix">
                    <p class="woocommerce-form-row input-row woocommerce-form-row--wide form-row form-row-wide" style="width: 50%; margin: auto;">
                      {{form_errors(form) }}
                    </p>
                    <p class="woocommerce-form-row input-row woocommerce-form-row--wide form-row form-row-wide" style="width: 50%; margin: auto;">
                    </p>
                    <p style="width : 20%;margin: auto; font-size: 20px; margin-bottom: 1rem;">SIGN UP</p>
                    <div class="row">
                      <div class="col">
                        <p class="woocommerce-form-row input-row woocommerce-form-row--wide form-row form-row-wide" style="width: 80%; margin: auto;">
                          <label for="user_username">Username :<span></span></label>
                          <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="user[username]" id="user_username" autocomplete="username" value="" placeholder="Username" style="background-color: transparent; border-color: white; color:white;"/>			
                        </p>
                      </div>
                      <div class="col">
                        <p class="woocommerce-form-row input-row woocommerce-form-row--wide form-row form-row-wide" style="width: 80%; margin: auto;">
                          <label for="user_email">E-Mail :<span></span></label>
                          <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="user[email]" id="user_email" autocomplete="email" value="" placeholder="Email" style="background-color: transparent; border-color: white;color:white;"/>			
                        </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <p class="woocommerce-form-row input-row woocommerce-form-row--wide form-row form-row-wide" style="width: 80%; margin: auto;">
                          <label for="user_firstname">Firstname :<span></span></label>
                          <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="user[prenom]" id="user_prenom" autocomplete="firstname" value="" placeholder="First name" style="background-color: transparent; border-color: white; color:white;"/>			
                        </p>
                      </div>
                      <div class="col">
                        <p class="woocommerce-form-row input-row woocommerce-form-row--wide form-row form-row-wide" style="width: 80%; margin: auto;">
                          <label for="user_lastname">Lastname :<span></span></label>
                          <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="user[nom]" id="user_nom" autocomplete="lastname" value="" placeholder="Last name" style="background-color: transparent; border-color: white; color:white;"/>			
                        </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <p class="woocommerce-form-row input-row woocommerce-form-row--wide form-row form-row-wide" style="width: 80%; margin: auto;">
                          <label for="user_phone">Phone number :<span></span></label>
                          <input type="number" class="woocommerce-Input woocommerce-Input--text input-text" name="user[phone]" id="user_phone" autocomplete="Phone" value="" placeholder="Phone number (optional)" style="background-color: transparent; border-color: white; color:white;"/>			
                        </p>
                      </div>
                      <div class="col">
                        <p class="woocommerce-form-row input-row woocommerce-form-row--wide form-row form-row-wide" style="width: 80%; margin: auto;">
                          <label for="user_password">Password :<span></span></label>
                          <input class="woocommerce-Input woocommerce-Input--text input-text" type="password" name="user[password]" id="user_password" autocomplete="current-password" placeholder="*********" style="background-color: transparent; border-color: white; color:white;" />
                        </p>	
                      </div>	
                    </div>
                    <p class="woocommerce-form-row input-row woocommerce-form-row--wide form-row form-row-wide" style="width: 50%; margin: auto;">
								    </p>	
                      <div class="row">
                        <div class="col">
                          <p class="form-row" style="width: 80%; margin: auto;">
                            <label class="woocommerce-form__label woocommerce-form__label-for-checkbox inline">
                              <input class="woocommerce-form__input woocommerce-form__input-checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever" /> <span>I agree with terms and conditions</span>
                            </label>
                          </p>
                        </div>
                        <div class="col">
                          <p class="form-row" style="width: 80%; margin: auto; margin-bottom: 3rem;">
                            <button type="submit" class="btn" name="register" value="Register" style="color: white;background-color: rgba(7,80,208, 0.8); width: 100%; margin:auto;">Sign me up</button>
                            <input type="hidden" id="user__token" name="user[_token]" value="{{ form._token.vars.value }}" />                  
                          </p>
                        </div>
                      </div>
                    
                    <p class="form-row" style="width: 45%; margin: auto; margin-top: 3rem;">
									    <span>Already have an account? 
									    Sign in <a href="/login" style="color: grey;">here</a></span>
								</p>
                  </div>
                </form>
              </div>
            </div>
          </div>
	      </div>
      </div>
    </main>
{% endblock %}