<form method="post" style="display: inline-block" action="{{ path('blog_delete', {'id': blog.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ blog.id) }}">
    <button style="background-color: transparent"><a class="bi bi-trash white"></a></button>
</form>
