<form method="post" style="display: inline-block" action="{{ path('commentaire_delete', {'id': commentaire.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commentaire.id) }}">
    <button style="background-color: transparent"><a class="bi bi-trash white"></a></button>
</form>
