<form method="post" style="display: inline-block" action="{{ path('app_message_delete', {'id': message.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ message.id) }}">
     <button style="background-color: transparent"><a class="bi bi-trash white"></a></button>
</form>
