<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Example 1</title>
    <link rel="stylesheet" href="/style.css" media="all" />
</head>
<body>
<header class="clearfix">
    <div id="logo">
        RuntimeError
    </div>

    <h1 align="center">RuntimeError </h1>
    <hr></hr>
    <h4 >Nom du produit {{ equipes.id }}</h4>
    <hr></hr>
    <div id="company" class="clearfix">
        <div><span>Nom </span> {{ equipes.nom }} </div>




</header>

<hr></hr>

<div id="notices">
    <div>NOTICE:</div>
    <div class="notice">ekteb li theb enti </div>
</div>
</main>

</body>